[credential]
	helper = manager-core
[push]
	default = upstream
[init]
	templatedir = /home/murvin/.git-template-dir
[gui]
	recentrepo = /home/murvin/Dokumente
	fontdiff = -family Courier -size 11 -weight normal -slant roman -underline 0 -overstrike 0
[giggle]
	main-window-maximized = true
	main-window-geometry = 0x0+0+0
	main-window-view = FileView
	history-view-vpane-position = 535
	file-view-vpane-position = 226
[user]
	name = Murvin
	email = murvin.kosinski@sap.com
[color]
 	branch = true
	diff = true
	grep = true
	interactive = true
	pager = false
	showbranch = true
	status = true
	ui = true
[color "diff"]
	commit = bold blue
	frag = black bold
	func = black bold
	meta = blue bold
	new = green
	old = red
	plain = normal
	whitespace = reverse normal
[color "grep"]
	match = red
[color "branch"]
	current = bold red
	local = normal
	plain = normal
	remote = dim
[color "interactive"]
	header = normal
	help = blue
	error = reverse
[color "status"]
	added = green
	changed = red
	header = normal
#nobranch = true
	untracked = dim
	updated = green
[alias]
#	mk-log = log --no-color --topo-order --pretty=format:\"%ci   %H <- %P   %d   %cn\"
#	mk-whatchanged = log --no-color --topo-order --name-status --pretty=format:\"%ci   %H <- %P   %d   %cn\"
#	mk-log-one = log -1 --no-color --topo-order --pretty=format:\"%ci   %H <- %P   %d   %cn\"
#	mk-whatchanged-one = log -1 --no-color --topo-order --name-status --pretty=format:\"%ci   %H <- %P   %d   %cn\"

#	mk-test = log --no-color --topo-order --pretty=format:\"%ct %H <- %P %d %cn [%an] : %s\"
#	mk-log = log --no-color --topo-order --pretty=format:\"%ci %h <- %p %d %cn [%an]\"
#	mk-whatchanged = whatchanged -w -b --no-color --topo-order --pretty=format:\"%ci %h <- %p %d %cn [%an]%n\"
#	mk-log-one = log -1 --no-color --topo-order --pretty=format:\"%ci %h <- %p %d %cn [%an]\"
#	mk-whatchanged-one = whatchanged -1 -w -b --no-color --topo-order --pretty=format:\"%ci %h <- %p %d %cn [%an]\"
#	mk-log-long = log --no-color --topo-order --pretty=format:\"%ci %H <- %P %d %cn [%an] : %s\"
#	mk-whatchanged-long = whatchanged -b -w --no-color --topo-order --pretty=format:\"%ci %H <- %P %d %cn [%an] : %s%n\"
#	mk-log-one-long = log -1 --no-color --topo-order --pretty=format:\"%ci %H <- %P %d %cn [%an] : %s\"
#	mk-whatchanged-one-long = whatchanged -1 -w -b --no-color --topo-order --pretty=format:\"%ci %H <- %P %d %cn [%an] : %s\"

	mk-test = log --no-color --pretty=format:\"%ct %H <- %P %d %an [%cn] : %s\"
	mk-log = log --no-color --pretty=format:\"%ai [%ci] %h <- %p %d %an [%cn]\"
	mk-logX = log --no-color --pretty=format:\"%ai [%ci] %h <- %p %d %an [%cn] : %s\"
	mk-whatchanged = whatchanged -w -b --no-color --pretty=format:\" %ai [%ci] %h <- %p %d %an [%cn]\"
	mk-log-one = log -1 --no-color --pretty=format:\"%ai [%ci] %h <- %p %d %an [%cn]\"
	mk-whatchanged-one = whatchanged -1 -w -b --no-color --pretty=format:\"%ai [%ci] %h <- %p %d %an [%cn]\"
	mk-log-long = log --no-color --pretty=format:\"%ai [%ci] %H <- %P %d %an [%cn] : %s\"
	mk-whatchanged-long = whatchanged -b -w --no-color --pretty=format:\" %ai [%ci] %H <- %P %d %an [%cn] : %s\"
	mk-log-one-long = log -1 --no-color --pretty=format:\"%ai [%ci] %H <- %P %d %an [%cn] : %s\"
	mk-whatchanged-one-long = whatchanged -1 -w -b --no-color --pretty=format:\"%ai [%ci] %H <- %P %d %an [%cn] : %s\"
        mk-check-uptodate = fetch --dry-run --verbose
        mk-check-uptodate-current-branch = !git fetch --dry-run --verbose 2>&1 | grep $(git branch|grep \"^\\*\"|sed \"s/\\* //\")
	mk-diff = diff -U0 -w -b
	mk-diff-nice = difftool --no-prompt --tool=robe
#	mk-check = !/home/murvin/git-tools/scripts/check
#	mk-find-ticket = !/home/murvin/git-tools/scripts/git-find-ticket
#	mk-status = !/home/murvin/git-tools/scripts/status
#	mk-s = !/home/murvin/git-tools/scripts/stat
#	mk-branch-off = !perl /home/murvin/git-tools/scripts/branch_off
#	mk-check-all = !/home/murvin/git-tools/scripts/check_all
#	mk-branch = !/home/murvin/git-tools/scripts/mk-branch
#	mk-branch-long = !/home/murvin/git-tools/scripts/mk-branch -a
	mk-branch-list = !git for-each-ref --sort=-committerdate refs/heads/ --format='%(color: red)%(committerdate:iso) %(color:reset)%(objectname) %(color: cyan)%(refname:short) (%(color:green)%(committerdate:relative)%(color:reset))'
	mk-branch-list-remote = !git for-each-ref --sort=-committerdate refs/remotes/ --format='%(color: red)%(committerdate:iso) %(color:reset)%(objectname) %(color: cyan)%(refname:short) (%(color:green)%(committerdate:relative)%(color:reset))'
	mk-branch-list-all = !git for-each-ref --sort=-committerdate refs/heads/ refs/remotes/ --format='%(color: red)%(committerdate:iso) %(color:reset)%(objectname) %(color: cyan)%(refname:short) (%(color:green)%(committerdate:relative)%(color:reset))'
	mk-stash-list = stash list --pretty=format:\"%ai %gd (%h): %s\"
	mk-stash-list-long = stash list --pretty=format:\"%ai %gd (%H): %s\"
	mk-submodules-status = submodule foreach git status -uno
	mk-xconflict = "!f() { \
		git status -s|grep -i "^\\(.u\\|u.\\)"; \
		}; f"
#        mk-conflict = "diff --name-only --diff-filter=U --relative | xargs git status"
	mk-conflict = "!f() { \
		git diff --name-only --diff-filter=U --relative | xargs git status; \
		}; f"
    mk-merge-cleanup = "!find ./ -iname "*.orig" | xargs -I {} rm {};find ./ -name "*_BASE_*" | xargs -I {} rm {};find ./ -name "*_LOCAL_*" | xargs -I {} rm {};find ./ -name "*_REMOTE_*" | xargs -I {} rm {};find ./ -name "*_BACKUP_*" | xargs -I {} rm {}"    
    mk-checkout = "!git checkout $(git mk-branch-list | fzf | sed -e \"s/[[:space:]][[:space:]]*/#/g\"|cut -d \"#\" -f 5)"

    sstatus = "!echo \"(git restore --staged <file>...)\" && res=$(git status -sb|sed \"s/^ \\(.\\)/.\\1/\" | sed \"s/^\\(.\\) /\\1./\") ; echo \"${res}\" | head -1 ; echo \"${res}\" | sed '1d' | sort -k 1.2,2.2"

   	lg = !git lg1
	lg1 = !git lg1-specific --color --full-history
    	lg2 = !git lg2-specific --color --full-history
    	lg3 = !git lg3-specific --color --full-history
    	lg1-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)'
    	lg2-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
    	lg3-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset) %C(bold cyan)(committed: %cD)%C(reset) %C(auto)%d%C(reset)%n''          %C(white)%s%C(reset)%n''          %C(dim white)- %an <%ae> %C(reset) %C(dim white)(committer: %cn <%ce>)%C(reset)'

	wc = !git wc1 --name-status | sed -e "/^$/D"
	wc1 = !git wc1-specific --color --full-history
    	wc2 = !git wc2-specific --color --full-history
    	wc3 = !git wc3-specific --color --full-history
    	wc1-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)'
    	wc2-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
    	wc3-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset) %C(bold cyan)(committed: %cD)%C(reset) %C(auto)%d%C(reset)%n''          %C(white)%s%C(reset)%n''          %C(dim white)- %an <%ae> %C(reset) %C(dim white)(committer: %cn <%ce>)%C(reset)'

[color "decorate"]
	branch = bold
	remoteBranch = normal
	tag = normal
	stash = normal
	HEAD = bold red
[rebase]
	stat = true
[core]
	longpaths = true
	whitespace = trailing-space
	editor = vim
	autocrlf = input
#,space-before-tab,indent-with-non-tab,tabwidth=1
[apply]
	ignorewhitespace = change
	whitespace = fix
[diff]
	mnemonicprefix = true
	tool = vimdiff
[status]
	showUntrackedFiles = no
[merge]
	conflictstyle = diff3
 	tool = mk-vimdiff
	renameLimit = 23000
[mergetool "mk-gvimdiff"]
	keepBackup = false
	cmd = /home/murvin/git-tools/scripts/diffconflicts.sh gvim $BASE $LOCAL $REMOTE $MERGED
#	trustExitCode = true
[mergetool "mk-vimdiff"]
	keepBackup = false
	cmd = /home/murvin/git-tools/scripts/diffconflicts.sh vim $BASE $LOCAL $REMOTE $MERGED
#	trustExitCode = true
[mergetool "fugi"]
	cmd = vim -f -c \"Gdiff\" \"$MERGED\"
[grep]
	lineNumber = true
[http]
	proxy = http://proxy.wdf.sap.corp:8080/

[mergetool.code]
	cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED
	trustExitCode = false
[credential]
	helper = cache --timeout=28800

[difftool.code]
	cmd = code --wait --diff $REMOTE $LOCAL 

[difftool.robe] 
	cmd = /home/murvin/toolsetc/arbeit/roberteldersoftwarediff/roberteldersoftwarediff.py $REMOTE $LOCAL



	
[mergetool "mk-gvimdiff"]
	keepBackup = false
	cmd = /c/Users/murvin.kosinski/bin/diffconflicts.sh gvim $BASE $LOCAL $REMOTE $MERGED
	trustExitCode = false
[mergetool "mk-vimdiff"]
	keepBackup = false
	cmd = /c/Users/murvin.kosinski/bin/diffconflicts.sh vim $BASE $LOCAL $REMOTE $MERGED
	trustExitCode = false
[mergetool "intellij"]
#	cmd = cmd.exe //c "\"C:/Program Files (x86)/IntelliJ IDEA Community Edition 12.0/bin/idea.bat\" merge \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\""
	cmd = cmd.exe //c "\"C:/Program Files (x86)/JetBrains/IntelliJ IDEA 2022.3.3/bin/idea64.exe\" merge \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\""
	trustExitCode = false
[difftool "intellij"]
#	cmd="\"C:/Program Files (x86)/IntelliJ IDEA Community Edition 12.0/bin/idea.bat\" diff \"$LOCAL\" \"$REMOTE\""
	cmd = cmd.exe //c "\"C:/Program Files (x86)/JetBrains/IntelliJ IDEA 2022.3.3/bin/idea64.exe\" diff \"$LOCAL\" \"$REMOTE\""
	trustExitCode = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[branch]
	autoSetupMerge = false
